#################
## XCode
#################
xcuserdata/
xcshareddata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser

#################
## MAX
#################
*.mxo
*.mxe

#################
## PD
#################
*.pd_darwin
*.dll

ThirdParty/LeapSDK/*
!ThirdParty/LeapSDK/readme.txt