#################
## XCode & MAc
#################
xcuserdata/
xcshareddata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser
*.dylib

#################
## MAX
#################
*.mxo
*.mxe

#################
## PD
#################
*.pd_darwin
*.dll

#################
## ThirdParty
#################
ThirdParty/LeapSDK/*
!ThirdParty/LeapSDK/readme.txt